@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  src: url("./../fonts/SofiaPro-Regular.woff2") format("woff2"), url("./../fonts/SofiaPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  src: url("./../fonts/SofiaProBlack.woff2") format("woff2"), url("./../fonts/SofiaProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Rum Raisin";
  src: url("./../fonts/RumRaisin-Regular.woff2") format("woff2"), url("./../fonts/RumRaisin-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Sofia Pro", sans-serif;
}

.container {
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  padding: 35px 0 23px;
  background-color: #f9f1e6;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  font-family: "Rum Raisin", times;
  font-size: 55px;
  line-height: 129%;
  color: #004529;
}

.header__blank {
  font-weight: 600;
  font-size: 25px;
  line-height: 100%;
  text-align: center;
  color: #f1a0b5;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  font-size: 23px;
  line-height: 100%;
}

.header__item {
  margin-left: 46px;
}

.header__ref {
  padding: 17px 28px 16px 27px;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #004529;
}

.header__ref:hover {
  background: #febc10;
}

.header__wrap-button {
  font-weight: 900;
  font-size: 23px;
  line-height: 100%;
}

.header__button {
  padding: 17px 28px 16px 27px;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #004529;
}

.header__button:hover {
  background: #febc10;
}

.page .great {
  padding: 36px 0 35px;
  background-color: #fbbd14;
}

.great__subheading {
  font-weight: 900;
  font-size: 64px;
  line-height: 100%;
  max-width: 572px;
  margin: 0 auto;
  text-align: center;
  color: #02422a;
  margin-bottom: 13px;
}

.great__text {
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.055em;
  max-width: 541px;
  margin: 0 auto;
  color: #000000;
}
